In [1]:
import os 
import requests
from bs4 import BeautifulSoup
import json

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# api read key created at https://develop.purpleair.com/keys
api_read_key = "1A4A4B7E-BF7D-11EE-8616-42010A80000B"

# api write key created at https://develop.purpleair.com/keys
api_write_key = "FFAF2E2E-BF85-11EE-8616-42010A80000B"

In [3]:
## GET ALL INDOOR SENSORS IN SLC AREA AS DEFINED BY LAT/LONG BOX IN REPO

# Cost of this cell: 323 points

headers= {'X-API-Key': api_read_key}

# top left corner of box
NWlat = 41.99
NWlng = -113.22

# bottom right corner of box
SElat = 39.77
SElng = -111.07

# location_type = 1 for indoor sensors
indoor_url = 'https://api.purpleair.com/v1/sensors?fields=pm2.5&location_type=1&nwlng=' + str(NWlng) + '&nwlat='+ str(NWlat) + '&selng=' + str(SElng) + '&selat=' + str(SElat)

indoor_response = requests.get(indoor_url, headers=headers)
print("Status Code: ", indoor_response.status_code)

indoor_content = json.loads(indoor_response.content)
indoor_data = indoor_content["data"]
indoor_columns = indoor_content["fields"]

indoor_df = pd.DataFrame(indoor_data, columns=indoor_columns)
indoor_df.head()

Status Code:  200

   sensor_index  pm2.5
0           820    0.0
1          9654    0.0
2         10936    0.0
3         12280    0.0
4         14713   10.0

In [4]:
indoor_df

     sensor_index  pm2.5
0             820    0.0
1            9654    0.0
2           10936    0.0
3           12280    0.0
4           14713   10.0
..            ...    ...
154        200551    2.4
155        200759   23.4
156        202947    0.0
157        207343    5.2
158        208783    0.0

[159 rows x 2 columns]

In [5]:
## GET ALL OUTDOOR SENSORS IN SLC AREA AS DEFINED BY LAT/LONG BOX IN REPO

# Cost of this cell: 919 points

# top left corner of box
NWlat = 41.99
NWlng = -113.22

# bottom right corner of box
SElat = 39.77
SElng = -111.07

# location_type = 0 for outdoor sensors
outdoor_url = 'https://api.purpleair.com/v1/sensors?fields=pm2.5&location_type=0&nwlng=' + str(NWlng) + '&nwlat='+ str(NWlat) + '&selng=' + str(SElng) + '&selat=' + str(SElat)

outdoor_response = requests.get(outdoor_url, headers=headers)
print("Status Code: ", outdoor_response.status_code)

outdoor_content = json.loads(outdoor_response.content)
outdoor_data = outdoor_content["data"]
outdoor_columns = outdoor_content["fields"]

outdoor_df = pd.DataFrame(outdoor_data, columns=outdoor_columns)
outdoor_df.head()

Status Code:  200

   sensor_index  pm2.5
0            53    0.0
1            77   38.3
2            81   26.3
3           443   12.1
4           459    8.5

In [7]:
print(f'Indoor sensors: {indoor_df.shape[0]}')
print(f'Outdoor sensors: {outdoor_df.shape[0]}')

Indoor sensors: 159
Outdoor sensors: 457