In [2]:
import pandas as pd
import sqlite3

## building database for Flask app

In [3]:
df = pd.read_csv("../static/data/slc_daily_pm2.5_pm10_2016to2024.csv")
df = df.sort_values(['date'], ascending = False)

# code for just latest
#latest_sensor_df = df.groupby(['sensor_id']).first().reset_index()
#latest_sensor_df = latest_sensor_df[['sensor_id','latitude','longitude','pm2.5_atm']]

In [4]:
# examine missing values for altitude
df_sensors = df[['sensor_id','latitude','longitude','date','altitude','pm2.5_atm','pm10.0_atm']]
df_sensors.rename(columns = {'pm2.5_atm':'pm2','pm10.0_atm':'pm10'},inplace=True)
df_sensors['date'] = pd.to_datetime(df['date'], format='%m/%d/%y')
sum(df_sensors['altitude'].isna())

/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_33756/1837659829.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sensors.rename(columns = {'pm2.5_atm':'pm2','pm10.0_atm':'pm10'},inplace=True)
/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_33756/1837659829.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sensors['date'] = pd.to_datetime(df['date'], format='%m/%d/%y')

0

In [5]:
# Define the SQLite database name
database_name = '../static/data/sensors_readings_2016_present.db'

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(database_name)

# Convert the DataFrame to a SQL table within the database
# Replace 'data_table' with your desired table name
# Correct usage with a string table name
df_sensors.to_sql('sensors_readings', conn, if_exists='replace', index=False)


# Close the connection to the database
conn.close()

In [6]:
df_sensors

,sensor_id,latitude,longitude,date,altitude,pm2,pm10
232809,83563,41.153950,-111.937020,2023-09-09,4806,2.0930,2.3085
243366,122011,40.639800,-111.822510,2023-09-09,4499,0.4095,0.5130
241621,114467,41.063160,-111.903320,2023-09-09,5104,0.1460,0.2130
225969,44157,40.574078,-111.958800,2023-09-09,4533,10.7160,12.9255
217892,30967,41.066500,-111.912445,2023-09-09,4774,3.4305,3.9045
...,...,...,...,...,...,...,...
5002,5408,40.987300,-111.928600,2018-01-01,4237,27.9525,30.6690
3772,3388,40.733440,-111.821510,2018-01-01,4715,13.8850,15.4540
3477,3238,40.664246,-111.849230,2018-01-01,4331,31.9770,36.7420
574,77,40.750816,-111.825290,2017-01-01,4870,43.5200,56.6090
935,443,41.224422,-111.968376,2017-01-01,4565,21.2690,27.5925