In [1]:
import pandas as pd
import sqlite3

In [92]:
def return_table(begin_date2, end_date2):
    # Set up sqlite
    connection = sqlite3.connect('../static/data/sensors_readings_2016_present.db')
    
    # Assemble Query with proper placement of WHERE clause and using parameterized queries
    sql_query = """
    SELECT sensor_id, latitude, longitude, altitude, AVG(pm2) AS avg_pm2, AVG(pm10) AS avg_pm10
    FROM sensors_readings
    WHERE date BETWEEN ? AND ?
    GROUP BY sensor_id, latitude, longitude, altitude
    """
    
    # Execute the query with parameter substitution to prevent SQL injection
    df = pd.read_sql_query(sql_query, connection, params=(begin_date2, end_date2))
    
    connection.close()
    return df

In [99]:
df = return_table('2023-09-27','2023-09-30')
df

     sensor_id   latitude   longitude  altitude    avg_pm2   avg_pm10
0           77  40.750816 -111.825290       NaN  17.717333  17.952000
1          443  41.224422 -111.968376       NaN   6.603000   7.290167
2          525  40.783870 -111.870140    4891.0   0.902167   1.161167
3          984  40.595387 -111.807755       NaN   1.848500   2.114833
4         3238  40.664246 -111.849230    4331.0   3.000167   3.461167
..         ...        ...         ...       ...        ...        ...
195     169779  40.769947 -111.847015    4758.0   1.978167   2.797833
196     169851  40.902760 -111.872420    4361.0   2.419000   3.307500
197     169867  40.871600 -111.903200    4306.0   2.413000   3.527167
198     174555  40.722404 -111.823616    4621.0   1.970000   2.423667
199     189031  40.640045 -111.931810    4331.0   2.790000   3.569000

[200 rows x 6 columns]

In [142]:
connection = sqlite3.connect('../static/data/sensors_readings_2016_present.db')
sql_query_main_1 = "select sensor_id, avg(pm2) from sensors_readings where date(date) \
    between '2023-09-09' and '2023-10-09' group by sensor_id"

sql_query = sql_query_main_1

df = pd.read_sql_query(sql_query,connection)

In [143]:
connection.close()

In [144]:
df

     sensor_id   avg(pm2)
0           77  18.788548
1          443   7.876113
2          525   2.760258
3          984   3.126452
4         3238   4.144452
..         ...        ...
199     169779  12.154839
200     169851   3.443403
201     169867   3.532129
202     174555   2.754429
203     189031   4.497403

[204 rows x 2 columns]

In [56]:
# Convert the date column to datetime
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%y')

# Now you can sort by this column
df_sorted = df.sort_values(by='date')

In [60]:
df_sorted.groupby('date').count().reset_index()[['date']].to_csv('date_range.csv', index=False)