In [1]:
import os 
import requests
from bs4 import BeautifulSoup
import json

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read in data from csv
all_slc_counties_2023 = pd.read_csv("aqs-all-slc-counties-2023.csv")

In [5]:
all_slc_counties_2023.describe()

,Unnamed: 0,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,sample_measurement,units_of_measure_code,sample_duration_code,detection_limit,uncertainty,method_code,cbsa_code
count,153834.000000,153834.0,153834.000000,153834.000000,153834.0,153834.000000,153834.000000,153834.000000,152602.000000,153834.0,153834.000000,153834.0,0.0,153834.000000,153834.000000
mean,76916.500000,49.0,33.539205,2353.097709,88101.0,3.002314,40.812762,-111.933769,7.359070,105.0,1.194469,2.0,NaN,182.735949,39430.767971
std,44408.194993,0.0,14.067293,1540.143263,0.0,1.324961,0.448387,0.150085,7.329154,0.0,1.062547,0.0,NaN,6.906553,3605.402320
min,0.000000,49.0,3.000000,4.000000,88101.0,1.000000,40.136378,-112.355780,-5.700000,105.0,1.000000,2.0,NaN,145.000000,30860.000000
25%,38458.250000,49.0,35.000000,1003.000000,88101.0,2.000000,40.598056,-112.008760,3.300000,105.0,1.000000,2.0,NaN,184.000000,39340.000000
50%,76916.500000,49.0,35.000000,3010.000000,88101.0,3.000000,40.736389,-111.901851,5.500000,105.0,1.000000,2.0,NaN,184.000000,41620.000000
75%,115374.750000,49.0,35.000000,3015.000000,88101.0,4.000000,40.807897,-111.872222,8.600000,105.0,1.000000,2.0,NaN,184.000000,41620.000000
max,153833.000000,49.0,57.000000,5010.000000,88101.0,5.000000,41.842649,-111.657936,130.700000,105.0,7.000000,2.0,NaN,184.000000,41620.000000

In [6]:
all_slc_counties_2023.nunique()

Unnamed: 0               153834
state_code                    1
county_code                   7
site_number                  14
parameter_code                1
poc                           5
latitude                     15
longitude                    15
datum                         2
parameter                     1
date_local                  365
time_local                   24
date_gmt                    366
time_gmt                     24
sample_measurement          786
units_of_measure              1
units_of_measure_code         1
sample_duration               2
sample_duration_code          2
sample_frequency              4
detection_limit               1
uncertainty                   0
qualifier                    28
method_type                   2
method                        2
method_code                   2
state                         1
county                        7
date_of_last_change          83
cbsa_code                     4
dtype: int64

In [7]:
for column in all_slc_counties_2023.columns[2:]:
    value_counts = all_slc_counties_2023[column].value_counts()
    print(f'Column: {column}\n{value_counts}\n')

Column: county_code
35    89766
49    18310
5     18250
11     9125
57     9101
45     9101
3       181
Name: county_code, dtype: int64

Column: site_number
7       18250
4       18226
3006    17885
3013    17520
3010     9490
4001     9185
4002     9125
3015     9125
2005     9125
5010     9125
1003     9101
3014     8760
3016     8736
5         181
Name: site_number, dtype: int64

Column: parameter_code
88101    153834
Name: parameter_code, dtype: int64

Column: poc
3    52877
1    30087
4    26280
5    26280
2    18310
Name: poc, dtype: int64

Column: latitude
41.842649    18250
40.736389    17885
40.496392    17520
40.784220     9490
40.341389     9185
40.902967     9125
40.662961     9125
40.777145     9125
40.598056     9125
40.136378     9125
41.303614     9101
40.600550     9101
40.709762     8760
40.807897     8736
41.489930      181
Name: latitude, dtype: int64

Column: longitude
-111.852199    18250
-111.872222    17885
-112.036298    17520
-111.931000     9490
-111.713611     9185
-111.884467     9125
-111.901851     9125
-111.945849     9125
-111.894167     9125
-111.657936     9125
-111.987871     9101
-112.355780     9101
-112.008760     8760
-112.087717     8736
-112.021435      181
Name: longitude, dtype: int64

Column: datum
WGS84    126824
NAD83     27010
Name: datum, dtype: int64

Column: parameter
PM2.5 - Local Conditions    153834
Name: parameter, dtype: int64

Column: date_local
2023-10-09    423
2023-09-15    423
2023-12-20    423
2023-07-23    423
2023-12-02    423
             ...
2023-03-04    421
2023-03-05    421
2023-03-06    421
2023-07-03    421
2023-12-01    350
Name: date_local, Length: 365, dtype: int64

Column: time_local
00:00    11188
11:00     6202
10:00     6202
08:00     6202
07:00     6202
06:00     6202
05:00     6202
04:00     6202
03:00     6202
02:00     6202
01:00     6202
23:00     6202
22:00     6202
21:00     6202
20:00     6202
19:00     6202
18:00     6202
17:00     6202
16:00     6202
15:00     6202
14:00     6202
13:00     6202
12:00     6202
09:00     6202
Name: time_local, dtype: int64

Column: date_gmt
2023-10-27    423
2023-08-16    423
2023-10-09    423
2023-07-23    423
2023-09-15    423
             ...
2023-03-06    421
2023-12-02    402
2023-12-01    371
2023-01-01    302
2024-01-01    119
Name: date_gmt, Length: 366, dtype: int64

Column: time_gmt
07:00    11188
18:00     6202
17:00     6202
15:00     6202
14:00     6202
13:00     6202
12:00     6202
11:00     6202
10:00     6202
09:00     6202
08:00     6202
06:00     6202
05:00     6202
04:00     6202
03:00     6202
02:00     6202
01:00     6202
00:00     6202
23:00     6202
22:00     6202
21:00     6202
20:00     6202
19:00     6202
16:00     6202
Name: time_gmt, dtype: int64

Column: sample_measurement
4.4      1860
4.9      1848
4.8      1847
4.1      1835
4.0      1823
         ...
91.8        1
92.8        1
93.0        1
91.6        1
112.3       1
Name: sample_measurement, Length: 786, dtype: int64

Column: units_of_measure
Micrograms/cubic meter (LC)    153834
Name: units_of_measure, dtype: int64

Column: units_of_measure_code
105    153834
Name: units_of_measure_code, dtype: int64

Column: sample_duration
1 HOUR     148848
24 HOUR      4986
Name: sample_duration, dtype: int64

Column: sample_duration_code
1    148848
7      4986
Name: sample_duration_code, dtype: int64

Column: sample_frequency
HOURLY            140088
EVERY 12TH DAY      8760
EVERY DAY           4196
EVERY 6TH DAY        790
Name: sample_frequency, dtype: int64

Column: detection_limit
2.0    153834
Name: detection_limit, dtype: int64

Column: uncertainty
Series([], Name: uncertainty, dtype: int64)

Column: qualifier
3 - Field Issue.                                                                889
J - Construction.                                                               828
AN - Machine Malfunction.                                                       653
IT - Wildfire-U. S.                                                             646
IJ - High Winds.                                                                534
IF - Fire - Canadian.                                                           335
AT - Calibration.                                                               135
AI - Insufficient Data (cannot calculate).                                      114
BA - Maintenance/Routine Repairs.                                                98
RL - Other.                                                                      84
IH - Fireworks.                                                                  81
AV - Power Failure.                                                              63
DA - Aberrant Data (Corrupt Files, Aberrant Chromatography, Spikes, Shifts).     38
BR - Sample Value Below Acceptable Range.                                        34
5 - Outlier.                                                                     34
1 - Deviation from a CFR/Critical Criteria Requirement.                          34
AE - Shelter Temperature Outside Limits.                                         26
AC - Construction/Repairs in Area.                                               18
AZ - Q C Audit.                                                                  18
AY - Q C Control Points (zero/span).                                             17
NS - Influenced by nearby source.                                                12
AL - Voided by Operator.                                                         10
AG - Sample Time out of Limits.                                                   2
AM - Miscellaneous Void.                                                          2
BK - Site computer/data logger down.                                              2
BE - Building/Site Repair.                                                        1
IP - Structural Fire.                                                             1
TC - Component Check & Retention Time Standard.                                   1
Name: qualifier, dtype: int64

Column: method_type
FEM    148848
FRM      4986
Name: method_type, dtype: int64

Column: method
Thermo Scientific Model 5030 SHARP w/VSCC - Beta Attenuation           148848
R & P Model 2025 PM-2.5 Sequential Air Sampler w/VSCC - Gravimetric      4986
Name: method, dtype: int64

Column: method_code
184    148848
145      4986
Name: method_code, dtype: int64

Column: state
Utah    153834
Name: state, dtype: int64

Column: county
Salt Lake    89766
Utah         18310
Cache        18250
Davis         9125
Weber         9101
Tooele        9101
Box Elder      181
Name: county, dtype: int64

Column: date_of_last_change
2023-10-23    6480
2023-11-29    5958
2023-06-21    5592
2023-09-08    5208
2023-02-15    5208
              ...
2024-01-03      30
2023-11-30       3
2023-06-28       1
2023-10-31       1
2023-10-06       1
Name: date_of_last_change, Length: 83, dtype: int64

Column: cbsa_code
41620    98867
36260    18407
39340    18310
30860    18250
Name: cbsa_code, dtype: int64