In [19]:
def wind_info(the_date):

    dfx = pd.DataFrame({'latitude':[40.6442],'longitude':[111.9522]},\
             index=  ['Salt Lake County'])

    start_date = datetime.strptime(the_date, '%Y-%m-%d')
    end_date = start_date + timedelta(days=10)

    #final_date = datetime.datetime.strptime("2024-03-20", '%Y-%m-%d')

    url = "https://archive-api.open-meteo.com/v1/archive"

    params = {
        "latitude": list(dfx.latitude.values),
        "longitude": list(dfx.longitude.values),
        "start_date": datetime.strftime(start_date, '%Y-%m-%d'),
        "end_date": datetime.strftime(start_date, '%Y-%m-%d'),
        "daily": ["wind_speed_10m_max", "wind_gusts_10m_max", "wind_direction_10m_dominant",],
        "temperature_unit": "fahrenheit",
        "wind_speed_unit": "mph",
        "timezone": "America/Denver"
    }
    responses = requests.get(url, params=params)
    return responses.json()['daily']

In [20]:
import datetime
import requests
import json
import datetime
#responses = wind_info(the_date='2023-06-10')

In [21]:
responses

NameError: name 'responses' is not defined

In [18]:
import pandas as pd
import sqlite3
from datetime import datetime, timedelta  # Import both datetime and timedelta
from joblib import load
import numpy as np
from sklearn.neighbors import NearestNeighbors
import requests
import json

def wind_info(the_date):
    dfx = pd.DataFrame({'latitude': [40.6442], 'longitude': [111.9522]}, index=['Salt Lake County'])
    
    start_date = datetime.strptime(the_date, '%Y-%m-%d')
    end_date = start_date + timedelta(days=10)

    url = "https://archive-api.open-meteo.com/v1/archive"

    params = {
        "latitude": dfx.iloc[0].latitude,  # Use scalar values for latitude and longitude
        "longitude": dfx.iloc[0].longitude,
        "start_date": start_date.strftime('%Y-%m-%d'),
        "end_date": end_date.strftime('%Y-%m-%d'),
        "daily": ["wind_speed_10m_max", "wind_gusts_10m_max", "wind_direction_10m_dominant"],
        "temperature_unit": "fahrenheit",
        "wind_speed_unit": "mph",
        "timezone": "America/Denver"
    }
    
    response = requests.get(url, params=params)
    daily_data = response.json().get('daily', {})  # ensures'daily' key exists and has a default value
    return daily_data

def find_nearest_sensor_pm_value(latitude, longitude, df, pm_type='pm2'):
    coords = df[['latitude', 'longitude']].values
    nbrs = NearestNeighbors(n_neighbors=1, algorithm='ball_tree').fit(coords)
    distances, indices = nbrs.kneighbors([[latitude, longitude]])
    nearest_index = indices[0][0]
    nearest_pm_value = df.iloc[nearest_index][pm_type]
    return nearest_pm_value

def pm25_predict(input_lat, input_lng, input_date, cluster_labels):
    url_base = '../static/data/'

    input_lng = round(input_lng, 5)
    input_lat = round(input_lat, 5)

    predict_input = pd.DataFrame({'longitude': [input_lng], 'latitude': [input_lat], 'date': [input_date]})

    begin_date_obj = datetime.strptime(input_date, "%Y-%m-%d")
    end_date_obj = begin_date_obj + timedelta(days=1)
    end_date = end_date_obj.strftime("%Y-%m-%d")

    connection = sqlite3.connect(f'{url_base}sensors_readings_2016_present.db')
    sql_query = """
    SELECT sensor_id, pm2, pm10, latitude, longitude
    FROM sensors_readings
    WHERE date(date) BETWEEN ? AND ?
    """
    df = pd.read_sql_query(sql_query, connection, params=(input_date, end_date))
    connection.close()

    df_cat = pd.read_csv(f'{url_base}sensor_categories.csv')
    df = df.merge(df_cat, on='sensor_id')
    nearest_pm2_5_value = find_nearest_sensor_pm_value(input_lat, input_lng, df, 'pm2')
    nearest_pm10_value = find_nearest_sensor_pm_value(input_lat, input_lng, df, 'pm10')

    url = f'{url_base}centroids_merge.csv'
    temp = pd.read_csv(url)
    temp['latitude'] = temp['latitude'].round(5)
    temp['longitude'] = temp['longitude'].round(5)

    predict_input = predict_input.merge(temp, on=['latitude', 'longitude'])
    predict_input['month'] = begin_date_obj.month
    # 'county' column in predict_input for the following operations to work
    predict_input['avg_pm2'] = df.loc[df['county'] == predict_input['county'].iloc[0], 'pm2'].values[0]
    predict_input['avg_pm10'] = df.loc[df['county'] == predict_input['county'].iloc[0], 'pm10'].values[0]

    category_map = {'red': 1, 'orange': 2, 'green': 3, 'blue': 4}
    county_map = {'Salt Lake County': 1, 'Weber County': 2, 'Davis County': 3}
    predict_input['county_encoded'] = predict_input['county'].map(county_map)
    predict_input['category_encoded'] = predict_input['category'].map(category_map)

    df = predict_input[['latitude', 'longitude', 'avg_pm10', 'avg_pm2', 'county_encoded', 'category_encoded', 'month']]
    df['cluster_labels'] = cluster_labels
    df['nearest_pm2_5'] = nearest_pm2_5_value
    df['nearest_pm10'] = nearest_pm10_value
    print(input_date)
    responses = wind_info(input_date)
    # contains the expected keys before assignment
    df['wind_direction_10m_dominant'] = responses.get('wind_direction_10m_dominant', [np.nan])[0]
    df['wind_gusts_10m_max'] = responses.get('wind_gusts_10m_max', [np.nan])[0]
    df['wind_speed_10m_max'] = responses.get('wind_speed_10m_max', [np.nan])[0]

    preprocessor = load(f'{url_base}preprocessor.joblib')
    X_new_transformed = preprocessor.transform(df)

    return X_new_transformed

In [19]:
lat=40.74591050575336
lng=-111.89694078602857
the_date='2020-12-08'
df = pm25_predict(lat,lng,the_date,0)

/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/515260482.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster_labels'] = cluster_labels
/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/515260482.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nearest_pm2_5'] = nearest_pm2_5_value
/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/515260482.py:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nearest_pm10'] = nearest_pm10_value

2020-12-08

In [20]:
df

<1x46 sparse matrix of type '<class 'numpy.float64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [30]:

from sklearn.metrics import mean_squared_error, mean_absolute_error
print("Mean Absolute Error (MAE):", mean_absolute_error(df.nearest_pm2_5, df.pm2))
print("Mean Squared Error (MSE):", mean_squared_error(df.nearest_pm2_5, df.pm2))
print("Root Mean Squared Error (RMSE):", mean_squared_error(df.nearest_pm2_5, df.pm2, squared=False))
print("R-squared Score:", r2_score(df.nearest_pm2_5, df.pm2))

AttributeError: 'numpy.ndarray' object has no attribute 'nearest_pm2_5'

In [2]:
lat= 41.14339925293028
lng=  -112.029677791514445
the_date = '2023-04-01'

#41.118140	-112.031425	62.482979	57.820677	3	1	2

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [313]:
pm25_predict(lat,lng,the_date)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [175]:
xdf = pd.read_csv('../static/data/centroids_data.csv')

In [29]:
pd.read_csv('../static/data/centroids_data.csv').to_json('../static/data/centroids_data.json', orient='records')

In [39]:
round(lng,5)

-111.89747

In [46]:
url = '../static/data/centroid_prep.csv'
temp_centroid = pd.read_csv(url)
temp_centroid['latitude'] = temp_centroid['latitude'].round(5)
temp_centroid['longitude'] = temp_centroid['longitude'].round(5)

In [45]:
temp_centroid

,Unnamed: 0,OBJECTID,GEOID,Tract,Low,Lowmod,Lowmod_pct,geometry,longitude,latitude,County_encoded,category_encoded,category_blue,category_green,category_orange,category_red,county_Davis County,county_Salt Lake County,county_Weber County
0,0,199060,490111251021,125102,120,340,0.1833,POINT (-111.88080951152304 41.08032456289652),-111.880810,41.080325,0,0,True,False,False,False,True,False,False
1,1,199061,490111251022,125102,245,490,0.1892,POINT (-111.88003663259194 41.04248386241919),-111.880037,41.042484,0,0,True,False,False,False,True,False,False
2,2,199062,490111251031,125103,370,850,0.3131,POINT (-111.9563088264819 41.13919426676789),-111.956309,41.139194,0,1,False,True,False,False,True,False,False
3,3,199063,490111251032,125103,430,1000,0.4264,POINT (-111.94339340147886 41.11547671683034),-111.943393,41.115477,0,1,False,True,False,False,True,False,False
4,4,199064,490111251041,125104,165,475,0.1967,POINT (-111.91575298025643 41.12877405887183),-111.915753,41.128774,0,0,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,907,200607,490572112012,211201,70,170,0.1560,POINT (-111.92049976396636 41.15200853107149),-111.920500,41.152009,2,0,True,False,False,False,False,False,True
908,908,200608,490572112013,211201,365,975,0.4194,POINT (-111.93262761353571 41.156133092177804),-111.932628,41.156133,2,1,False,True,False,False,False,False,True
909,909,200609,490572112021,211202,115,270,0.3354,POINT (-111.96410356104677 41.16503488421328),-111.964104,41.165035,2,1,False,True,False,False,False,False,True
910,910,200610,490572112022,211202,620,1710,0.3963,POINT (-111.95158835880763 41.15407118264731),-111.951588,41.154071,2,1,False,True,False,False,False,False,True
911,911,200611,490572112023,211202,135,360,0.2637,POINT (-111.9382183835146 41.14257349659315),-111.938218,41.142573,2,1,False,True,False,False,False,False,True

In [31]:
url_base = '../static/data/'
connection = sqlite3.connect(f'{url_base}sensors_readings_2016_present.db')
sql_query = """
SELECT date(date) as date
FROM sensors_readings
order by date(date)asc
"""
df = pd.read_sql_query(sql_query, connection)
connection.close()

In [32]:
df

              date
0       2016-03-16
1       2016-03-17
2       2016-03-18
3       2016-03-19
4       2016-03-20
...            ...
271643  2024-04-10
271644  2024-04-10
271645  2024-04-10
271646  2024-04-10
271647  2024-04-10

[271648 rows x 1 columns]

In [24]:
pd.read_csv('../static/data/date_range.csv')

            date
0     2016-03-16
1     2016-03-17
2     2016-03-18
3     2016-03-19
4     2016-03-20
...          ...
2906  2024-03-04
2907  2024-03-05
2908  2024-03-06
2909  2024-03-07
2910  2024-03-08

[2911 rows x 1 columns]

In [33]:
import pandas as pd
import sqlite3
from datetime import datetime, timedelta

def return_table(begin_date, end_date,red,orange,green,lightBlue,salt,web,dav,r0,r1,r2,o0,o1,o2,b0,b1,b2,g0,g1,g2):


    # Convert strings to datetime objects
    begin_date_obj = datetime.strptime(begin_date, "%Y-%m-%d")
    end_date_obj = datetime.strptime(end_date, "%Y-%m-%d")

    # Check if dates are the same
    if begin_date_obj == end_date_obj:
        # Move end_date forward by one day
        end_date_obj += timedelta(days=1)

        # Convert back to string if needed
        end_date = end_date_obj.strftime("%Y-%m-%d")

    
    
    # Set up sqlite
    connection = sqlite3.connect('../static/data/sensors_readings_2016_present.db')
    
    # Assemble Query
    sql_query = """
    SELECT sensor_id, latitude, longitude, altitude, AVG(pm2) AS avg_pm2, AVG(pm10) AS avg_pm10
    FROM sensors_readings
    WHERE date(date) BETWEEN ? AND ?
    GROUP BY sensor_id, latitude, longitude, altitude
    """
    
    # Execute the query
    df = pd.read_sql_query(sql_query, connection, params=(begin_date, end_date))
    
    # Join with color categories
    df_color = pd.read_csv('../static/data/sensor_categories.csv')
    df = pd.merge(df,df_color, on = 'sensor_id')
    
    selected_counties =[]
    if salt == True:
        selected_counties.append('Salt Lake County')
    if web == True:
        selected_counties.append('Weber County')
    if dav == True:
        selected_counties.append('Davis County')
    
    df = df.loc[df['county'].isin(selected_counties)]
    
    df.drop(['county'], axis=1, inplace=True)
    # Get category averages
    # Step 1: Calculate Sums and Counts
    sums = df.groupby('category').sum().reset_index()
    counts = df.groupby('category').count().reset_index().rename(columns={'avg_pm2': 'count', 'avg_pm10': 'drop'}).drop('drop', axis=1)

    # Add the external counts and sums
    if r0 != 0:
        sums.loc[sums['category'] == 'red', 'avg_pm2'] += r1
        sums.loc[sums['category'] == 'red', 'avg_pm10'] += r2
        counts.loc[counts['category'] == 'red', 'count'] += r0
    if o0 != 0:
        sums.loc[sums['category'] == 'orange', 'avg_pm2'] += o1
        sums.loc[sums['category'] == 'orange', 'avg_pm10'] += o2
        counts.loc[counts['category'] == 'orange', 'count'] += o0
        
    if b0 != 0:
        sums.loc[sums['category'] == 'blue', 'avg_pm2'] += b1
        sums.loc[sums['category'] == 'blue', 'avg_pm10'] += b2
        counts.loc[counts['category'] == 'blue', 'count'] += b0
        
    if g0 != 0:
        sums.loc[sums['category'] == 'green', 'avg_pm2'] += g1
        sums.loc[sums['category'] == 'green', 'avg_pm10'] += g2
        counts.loc[counts['category'] == 'green', 'count'] += g0
    

    # Step 3: Calculate Averages
    averages = sums.copy()
    averages['cat_avg_pm2'] = round(sums['avg_pm2'] / counts['count']).astype('int')
    averages['cat_avg_pm10'] = round(sums['avg_pm10'] / counts['count']).astype('int')

    averages = averages[['category', 'cat_avg_pm2', 'cat_avg_pm10']]
    
    # Join
    
    df['avg_pm2'] = round(df['avg_pm2']).astype('int')
    df['avg_pm10'] = round(df['avg_pm10']).astype('int')

    df = pd.merge(df,averages, on = 'category')
    
    selected_colors =[]
    if red == True:
        selected_colors.append('red')
    if orange == True:
        selected_colors.append('orange')
    if green == True:
        selected_colors.append('green')
    if lightBlue == True:
        selected_colors.append('blue')
    
    df_income_colors = df.loc[df['category'].isin(selected_colors)]
    df = pd.merge(df_income_colors,df_color, on = ['sensor_id','category'])
    
    connection.close()
    return df
    
    
def return_county(begin_date, end_date,red,orange,green,lightBlue,salt,web,dav,s0,s1,s2,w0,w1,w2,d0,d1,d2):


    # Convert strings to datetime objects
    begin_date_obj = datetime.strptime(begin_date, "%Y-%m-%d")
    end_date_obj = datetime.strptime(end_date, "%Y-%m-%d")

    # Check if dates are the same
    if begin_date_obj == end_date_obj:
        # Move end_date forward by one day
        end_date_obj += timedelta(days=1)

        # Convert back to string if needed
        end_date = end_date_obj.strftime("%Y-%m-%d")

    # Set up sqlite
    connection = sqlite3.connect('../static/data/sensors_readings_2016_present.db')
    
    # Assemble Query
    sql_query = """
    SELECT sensor_id, latitude, longitude, altitude, AVG(pm2) AS avg_pm2, AVG(pm10) AS avg_pm10
    FROM sensors_readings
    WHERE date(date) BETWEEN ? AND ?
    GROUP BY sensor_id, latitude, longitude, altitude
    """
    
    # Execute the query
    df = pd.read_sql_query(sql_query, connection, params=(begin_date, end_date))
    
    # Join with color categories
    df_color = pd.read_csv('../static/data/sensor_categories.csv')
    df = pd.merge(df,df_color, on = 'sensor_id')
    
    selected_colors =[]
    if red == True:
        selected_colors.append('red')
    if orange == True:
        selected_colors.append('orange')
    if green == True:
        selected_colors.append('green')
    if lightBlue == True:
        selected_colors.append('blue')
    
    df = df.loc[df['category'].isin(selected_colors)].reset_index()
    
    df.drop(['category'], axis=1, inplace=True)
    # Get category averages
    # Step 1: Calculate Sums and Counts
    sums = df.groupby('county').sum().reset_index()
    counts = df.groupby('county').count().reset_index().rename(columns={'avg_pm2': 'count', 'avg_pm10': 'drop'}).drop('drop', axis=1)

    # Add the external counts and sums
    if s0 != 0:
        sums.loc[sums['county'] == 'Salt Lake County', 'avg_pm2'] += s1
        sums.loc[sums['county'] == 'Salt Lake County', 'avg_pm10'] += s2
        counts.loc[counts['county'] == 'Salt Lake County', 'count'] += s0
    
    if w0 != 0:
        sums.loc[sums['county'] == 'Weber County', 'avg_pm2'] += w1
        sums.loc[sums['county'] == 'Weber County', 'avg_pm10'] += w2
        counts.loc[counts['county'] == 'Weber County', 'count'] += w0

    if d0 != 0:
        sums.loc[sums['county'] == 'Davis County', 'avg_pm2'] += d1
        sums.loc[sums['county'] == 'Davis County', 'avg_pm10'] += d2
        counts.loc[counts['county'] == 'Davis County', 'count'] += d0

    # Step 3: Calculate Averages
    averages = sums.copy()
    averages['cat_avg_pm2'] = round(sums['avg_pm2'] / counts['count']).astype('int')
    averages['cat_avg_pm10'] = round(sums['avg_pm10'] / counts['count']).astype('int')

    averages = averages[['county', 'cat_avg_pm2', 'cat_avg_pm10']]
    
    # Join
    
    df['avg_pm2'] = round(df['avg_pm2']).astype('int')
    df['avg_pm10'] = round(df['avg_pm10']).astype('int')

    df = pd.merge(df,averages, on = 'county')
         
    
    selected_counties =[]
    if salt == True:
        selected_counties.append('Salt Lake County')
    if web == True:
        selected_counties.append('Weber County')
    if dav == True:
        selected_counties.append('Davis County')
                 
    
    df = df.loc[df['county'].isin(selected_counties)]
    df = pd.merge(df,df_color, on = ['sensor_id','county'])
    
    
    connection.close()
    return df
    

# This will be for linear graph data
def sensor_linear(begin_date,end_date, the_sensor):
    connection = sqlite3.connect('../static/data/sensors_readings_2016_present.db')
    
    # Assemble Query
    sql_query = """
    SELECT date(date) as theDate, pm2
    FROM sensors_readings
    where (date(date) between ? and ?) and (sensor_id = ?)
    order by date asc
    """
    
    #df = pd.read_sql_query(sql_query, connection, params=(begin_date, end_date))
    df = pd.read_sql_query(sql_query, connection, params=(begin_date,end_date,the_sensor))
    connection.close()
    
    return df

In [37]:
return_county('2024-01-01', '2024-01-01',True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,\
 True)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [41]:
url_base = '../static/data/'
connection = sqlite3.connect(f'{url_base}sensors_readings_2016_present.db')
sql_query = """
SELECT *,date(date) as date
FROM sensors_readings
order by date(date)asc
"""
df = pd.read_sql_query(sql_query, connection)
connection.close()
df

,sensor_id,latitude,longitude,date,altitude,pm2,pm10,date
0,77,40.750816,-111.82529,2016-03-16 00:00:00,4870,0.901,0.960,2016-03-16
1,77,40.750816,-111.82529,2016-03-17 00:00:00,4870,1.463,1.718,2016-03-17
2,77,40.750816,-111.82529,2016-03-18 00:00:00,4870,1.758,1.988,2016-03-18
3,77,40.750816,-111.82529,2016-03-19 00:00:00,4870,2.504,2.808,2016-03-19
4,77,40.750816,-111.82529,2016-03-20 00:00:00,4870,2.771,3.127,2016-03-20
...,...,...,...,...,...,...,...,...
271643,47171,40.689796,-112.08269,2024-04-10 00:00:00,4473,0.620,0.910,2024-04-10
271644,46881,40.675575,-112.01961,2024-04-10 00:00:00,4489,5.175,6.675,2024-04-10
271645,46875,41.097664,-111.97415,2024-04-10 00:00:00,4627,0.635,0.805,2024-04-10
271646,77,40.750816,-111.82529,2024-04-10 00:00:00,4870,22.550,22.680,2024-04-10
271647,204009,40.593708,-111.89525,2024-04-10 00:00:00,4393,2.730,2.980,2024-04-10

In [42]:
pd.read_csv('../static/data/sensor_categories.csv')

     sensor_id category            county
0           77      red  Salt Lake County
1          443      red      Weber County
2          525    green  Salt Lake County
3          984     blue  Salt Lake County
4          992    green  Salt Lake County
..         ...      ...               ...
217     204009      red  Salt Lake County
218     204315    green  Salt Lake County
219     207743     blue  Salt Lake County
220     208781    green      Weber County
221     208783     blue      Weber County

[222 rows x 3 columns]

In [139]:
def return_county(begin_date, end_date,red,orange,green,lightBlue,salt,web,dav,s0,s1,s2,w0,w1,w2,d0,d1,d2):




    # Convert strings to datetime objects
    begin_date_obj = datetime.strptime(begin_date, "%Y-%m-%d")
    end_date_obj = datetime.strptime(end_date, "%Y-%m-%d")

    # Check if dates are the same
    if begin_date_obj == end_date_obj:
        # Move end_date forward by one day
        begin_date_obj += timedelta(days=-92)
    
    # Set up sqlite
    connection = sqlite3.connect('../static/data/sensors_readings_2016_present.db')
    
    # Assemble Query
    sql_query = """
    SELECT sensor_id,latitude, longitude, altitude, pm2, pm10, date(date) as date
    FROM sensors_readings
    WHERE date(date) BETWEEN ? AND ?
    AND pm2 IS NOT NULL
    AND pm10 IS NOT NULL

    """
    
    # Execute the query
    df = pd.read_sql_query(sql_query, connection, params=(begin_date, end_date))
    
    # Join with color categories
    df_color = pd.read_csv('../static/data/sensor_categories.csv')
    df = pd.merge(df,df_color, on = 'sensor_id')
    
    selected_counties =[]
    if salt == True:
        selected_counties.append('Salt Lake County')
    if web == True:
        selected_counties.append('Weber County')
    if dav == True:
        selected_counties.append('Davis County')
    
    df = df.loc[df['county'].isin(selected_counties)]
    
    df.drop(['county'], axis=1, inplace=True)

    selected_colors =[]
    if red == True:
        selected_colors.append('red')
    if orange == True:
        selected_colors.append('orange')
    if green == True:
        selected_colors.append('green')
    if lightBlue == True:
        selected_colors.append('blue')
    
    df_income_colors = df.loc[df['category'].isin(selected_colors)]
    df = pd.merge(df_income_colors,df_color, on = ['sensor_id','category'])
    df= df[['pm2','pm10','category','date']].groupby(['category','date']).mean()
    
    connection.close()
    return df.reset_index()

In [142]:
return_county('2024-01-01', '2024-01-08',False,False,True,True,True,True,False,True,True,True,True,True,True,True,True,\
 True)

   category        date        pm2       pm10
0      blue  2024-01-01  31.628145  40.070987
1      blue  2024-01-02  27.728592  34.863066
2      blue  2024-01-03  19.847171  24.558987
3      blue  2024-01-04  30.229053  37.358184
4      blue  2024-01-05   9.865434  11.156697
5      blue  2024-01-06   6.526618   7.207645
6      blue  2024-01-07   1.449171   1.654013
7      blue  2024-01-08   3.539921   3.919421
8     green  2024-01-01  37.317047  47.149358
9     green  2024-01-02  31.508481  39.179528
10    green  2024-01-03  25.250991  31.068991
11    green  2024-01-04  27.827142  33.723849
12    green  2024-01-05   9.035283  10.243387
13    green  2024-01-06   5.832877   6.543887
14    green  2024-01-07   1.925783   2.212500
15    green  2024-01-08   4.401802   4.829132

In [141]:
a.groupby(['county','date']).mean()

                                   pm2       pm10
county           date
Davis County     2024-01-01  33.405392  41.921216
                 2024-01-02  29.167127  36.119588
                 2024-01-03  20.444637  24.828402
                 2024-01-04  30.605637  37.213441
                 2024-01-05  12.144394  13.993404
                 2024-01-06   7.454020   8.205882
                 2024-01-07   1.866635   2.127663
                 2024-01-08   3.607163   4.000173
Salt Lake County 2024-01-01  39.056144  50.123136
                 2024-01-02  33.049762  42.057310
                 2024-01-03  25.449341  31.905857
                 2024-01-04  28.623705  35.446673
                 2024-01-05   9.567488  10.881996
                 2024-01-06   6.103465   6.828835
                 2024-01-07   1.963561   2.278635
                 2024-01-08   4.195712   4.700744
Weber County     2024-01-01  25.652167  30.643433
                 2024-01-02  20.587500  24.058467
                 2024-01-03  17.381367  20.097567
                 2024-01-04  26.756267  31.507067
                 2024-01-05   8.573433   9.603700
                 2024-01-06   5.910300   6.418500
                 2024-01-07   2.564667   2.835633
                 2024-01-08   3.682067   4.050867

In [208]:
import pandas as pd
import sqlite3
from datetime import datetime, timedelta  # Import both datetime and timedelta
from joblib import load
import numpy as np
from sklearn.neighbors import NearestNeighbors
import requests
import json

def wind_info(the_date):
    dfx = pd.DataFrame({'latitude': [40.6442], 'longitude': [111.9522]}, index=['Salt Lake County'])
    
    start_date = datetime.strptime(the_date, '%Y-%m-%d')
    end_date = start_date + timedelta(days=0)

    url = "https://archive-api.open-meteo.com/v1/archive"

    params = {
        "latitude": dfx.iloc[0].latitude,  # Use scalar values for latitude and longitude
        "longitude": dfx.iloc[0].longitude,
        "start_date": start_date.strftime('%Y-%m-%d'),
        "end_date": end_date.strftime('%Y-%m-%d'),
        "daily": ["wind_speed_10m_max", "wind_gusts_10m_max", "wind_direction_10m_dominant"],
        "temperature_unit": "fahrenheit",
        "wind_speed_unit": "mph",
        "timezone": "America/Denver"
    }
    
    response = requests.get(url, params=params)
    daily_data = response.json().get('daily', {})  # ensures'daily' key exists and has a default value
    return daily_data

def find_nearest_sensor_pm_value(latitude, longitude, df, pm_type='pm2'):
    coords = df[['latitude', 'longitude']].values
    nbrs = NearestNeighbors(n_neighbors=1, algorithm='ball_tree').fit(coords)
    distances, indices = nbrs.kneighbors([[latitude, longitude]])
    nearest_index = indices[0][0]
    nearest_pm_value = df.iloc[nearest_index][pm_type]
    return nearest_pm_value



def pm25_predict(input_lat, input_lng, input_date, cluster_labels):
    url_base = '../static/data/'

    input_lng = round(input_lng, 5)
    input_lat = round(input_lat, 5)

    predict_input = pd.DataFrame({'longitude': [input_lng], 'latitude': [input_lat], 'date': [input_date]})

    begin_date_obj = datetime.strptime(input_date, "%Y-%m-%d")
    end_date_obj = begin_date_obj + timedelta(days=1)
    end_date = end_date_obj.strftime("%Y-%m-%d")

    connection = sqlite3.connect(f'{url_base}sensors_readings_2016_present.db')
    sql_query = """
    SELECT sensor_id, pm2, pm10, latitude, longitude
    FROM sensors_readings
    WHERE date(date) BETWEEN ? AND ?
    AND pm2 IS NOT NULL
    AND pm10 IS NOT NULL
    
    """
    df = pd.read_sql_query(sql_query, connection, params=(input_date, end_date))
    connection.close()

    df_cat = pd.read_csv(f'{url_base}sensor_categories.csv')
    df = df.merge(df_cat, on='sensor_id')
    nearest_pm2_5_value = find_nearest_sensor_pm_value(input_lat, input_lng, df, 'pm2')
    nearest_pm10_value = find_nearest_sensor_pm_value(input_lat, input_lng, df, 'pm10')

    url = f'{url_base}centroids_merge.csv'
    temp = pd.read_csv(url)
    temp['latitude'] = temp['latitude'].round(5)
    temp['longitude'] = temp['longitude'].round(5)

    predict_input = predict_input.merge(temp, on=['latitude', 'longitude'])
    predict_input['month'] = begin_date_obj.month
    # 'county' column in predict_input for the following operations to work
    predict_input['avg_pm2'] = df.loc[df['county'] == predict_input['county'].iloc[0], 'pm2'].values[0]
    predict_input['avg_pm10'] = df.loc[df['county'] == predict_input['county'].iloc[0], 'pm10'].values[0]

    category_map = {'red': 1, 'orange': 2, 'green': 3, 'blue': 4}
    county_map = {'Salt Lake County': 1, 'Weber County': 2, 'Davis County': 3}
    predict_input['county_encoded'] = predict_input['county'].map(county_map)
    predict_input['category_encoded'] = predict_input['category'].map(category_map)

    df = predict_input[['latitude', 'longitude', 'avg_pm10', 'avg_pm2', 'county_encoded', 'category_encoded', 'month']]
    df['cluster_labels'] = cluster_labels
    df['nearest_pm2_5'] = nearest_pm2_5_value
    df['nearest_pm10'] = nearest_pm10_value
    print(input_date)
    responses = wind_info(input_date)
    print(responses)
    # contains the expected keys before assignment
    df['wind_direction_10m_dominant'] = responses.get('wind_direction_10m_dominant', [np.nan])[0]
    df['wind_gusts_10m_max'] = responses.get('wind_gusts_10m_max', [np.nan])[0]
    df['wind_speed_10m_max'] = responses.get('wind_speed_10m_max', [np.nan])[0]
    print(nearest_pm2_5_value)
    preprocessor = load(f'{url_base}preprocessor.joblib')
    X_new_transformed = preprocessor.transform(df)
    scaler = load(f'{url_base}preprocessorMinMax.joblib')
    X_new_transformed = scaler.transform(X_new_transformed)
    return X_new_transformed

In [209]:

import pandas as pd
import sqlite3

from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from joblib import load
tensor = pm25_predict(lat,lng,theDate,mapCat)
model_pm25 = load_model('../static/data/nnn_model_1_pm_25wind_image.h5')
#model_pm10 = load_model('static/data/nnn_model_1_pm_10wind_image.h5')



        
tensor = pm25_predict(lat, lng, the_date,cluster_labels)

Xpm25 = model_pm25.predict(tensor)
#Xpm25 = np.round(np.expm1(Xpm25)[0])

/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/469470331.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster_labels'] = cluster_labels
/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/469470331.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nearest_pm2_5'] = nearest_pm2_5_value
/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/469470331.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nearest_pm10'] = nearest_pm10_value

2020-01-01

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

{'time': ['2020-01-01', '2020-01-02'], 'wind_speed_10m_max': [5.8, 5.3], 'wind_gusts_10m_max': [10.3, 9.6], 'wind_direction_10m_dominant': [308, 212]}
18.9085
2024-04-09

/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/469470331.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster_labels'] = cluster_labels
/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/469470331.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nearest_pm2_5'] = nearest_pm2_5_value
/var/folders/kn/v0dr_8xn1qj15xgwlhdyfzph0000gn/T/ipykernel_6204/469470331.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nearest_pm10'] = nearest_pm10_value

{'time': ['2024-04-09', '2024-04-10'], 'wind_speed_10m_max': [19.3, 18.0], 'wind_gusts_10m_max': [34.7, 33.1], 'wind_direction_10m_dominant': [233, None]}
2.205
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step

In [207]:
lat=40.77587214115332
lng=-111.90495337371152
the_date='2024-04-10'
cluster_labels=9

In [202]:
Xpm25 = np.round(np.expm1(Xpm25)[0])

In [203]:
Xpm25

array([nan], dtype=float32)

In [170]:
    start_date = datetime.strptime(the_date, '%Y-%m-%d')
    end_date = start_date + timedelta(days=0)

In [171]:
end_date

datetime.datetime(2024, 4, 9, 0, 0)