In [1]:
import pandas as pd
import sqlite3

In [26]:
begin_date = '9/1/20'
end_date = '10/1/20'

In [44]:
def return_table(begin_date,end_date):
    #Set up sqlite
    connection = sqlite3.connect('../static/data/sensors_readings_2016_present.db')
    
    #Assemble Query
    sql_query_main_1 = "select sensor_id, latitude, longitude, altitude, avg(pm2) as avg_pm2, avg(pm10) as avg_pm10 "
    sql_query_main_2 = "from sensors_readings"
    sql_query_group = " group by sensor_id, latitude, longitude, altitude"
    sql_query_date = f"where date between {'2023-09-09'} and {'2023-10-09'}"

    sql_query = sql_query_main_1 + sql_query_main_2 + sql_query_group
    df=pd.read_sql_query(sql_query,connection)
    connection.close()

    return df

In [45]:
df = return_table(begin_date,end_date)

In [47]:
connection = sqlite3.connect('../static/data/sensors_readings_2016_present.db')
sql_query_main_1 = "select * from sensors_readings "

sql_query = sql_query_main_1

df = pd.read_sql_query(sql_query,connection)

In [48]:
connection.close()

In [51]:
len(df.date.unique())

2911

In [56]:
# Convert the date column to datetime
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%y')

# Now you can sort by this column
df_sorted = df.sort_values(by='date')

In [60]:
df_sorted.groupby('date').count().reset_index()[['date']].to_csv('date_range.csv', index=False)