In [1]:
import os 
import requests
from bs4 import BeautifulSoup
import json

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read in data from csv
all_slc_counties_2023 = pd.read_csv("aqs-all-slc-counties-2023.csv")

In [5]:
all_slc_counties_2023.describe()

,Unnamed: 0,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,sample_measurement,units_of_measure_code,sample_duration_code,detection_limit,uncertainty,method_code,cbsa_code
count,153834.000000,153834.0,153834.000000,153834.000000,153834.0,153834.000000,153834.000000,153834.000000,152602.000000,153834.0,153834.000000,153834.0,0.0,153834.000000,153834.000000
mean,76916.500000,49.0,33.539205,2353.097709,88101.0,3.002314,40.812762,-111.933769,7.359070,105.0,1.194469,2.0,NaN,182.735949,39430.767971
std,44408.194993,0.0,14.067293,1540.143263,0.0,1.324961,0.448387,0.150085,7.329154,0.0,1.062547,0.0,NaN,6.906553,3605.402320
min,0.000000,49.0,3.000000,4.000000,88101.0,1.000000,40.136378,-112.355780,-5.700000,105.0,1.000000,2.0,NaN,145.000000,30860.000000
25%,38458.250000,49.0,35.000000,1003.000000,88101.0,2.000000,40.598056,-112.008760,3.300000,105.0,1.000000,2.0,NaN,184.000000,39340.000000
50%,76916.500000,49.0,35.000000,3010.000000,88101.0,3.000000,40.736389,-111.901851,5.500000,105.0,1.000000,2.0,NaN,184.000000,41620.000000
75%,115374.750000,49.0,35.000000,3015.000000,88101.0,4.000000,40.807897,-111.872222,8.600000,105.0,1.000000,2.0,NaN,184.000000,41620.000000
max,153833.000000,49.0,57.000000,5010.000000,88101.0,5.000000,41.842649,-111.657936,130.700000,105.0,7.000000,2.0,NaN,184.000000,41620.000000

In [6]:
all_slc_counties_2023.nunique()

Unnamed: 0               153834
state_code                    1
county_code                   7
site_number                  14
parameter_code                1
poc                           5
latitude                     15
longitude                    15
datum                         2
parameter                     1
date_local                  365
time_local                   24
date_gmt                    366
time_gmt                     24
sample_measurement          786
units_of_measure              1
units_of_measure_code         1
sample_duration               2
sample_duration_code          2
sample_frequency              4
detection_limit               1
uncertainty                   0
qualifier                    28
method_type                   2
method                        2
method_code                   2
state                         1
county                        7
date_of_last_change          83
cbsa_code                     4
dtype: int64